extends layout

block content
  h1= title
  p Welcome to #{title}
  ul.widgets
    if (widgetArray && widgetArray.length > 0)
      each val in widgetArray
        li.elm
          a(href=val.href)= val.name
    else
      p.error Помилка отримання віджетів