extends layout

block menu
  h3 Меню
  ul
    li Кімната 1
    li Кімната 2
    li Кімната 3
    li Кімната 4
    li Налаштування
     ul
      li Правила автоматизації
      li Лог системи
      li Управління користувачами
      li Управління пристроями
      li Додання нового модуля
      li Загальні налаштування
    li Вийти

block content
  h1= title
  p Welcome to #{title}
