doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/jquery-ui.min.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/main.coffee')
  body
    block header
      header.mainHeader.clearfixAB
        .logo
          img(src='images/logo.png')
        block widgetHeader1
        block widgetHeader2
        block widgetHeader3
        #dateTime.headerDate
          p.time
           span.hours
           span.minutes
           span.seconds
          p.date
           span.day
           span.month
           span.year
    nav.mainMenu
     include menu.jade
    section.mainContent
     block content
